<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Success form - Minimalistic logon</title>
</head>
<body>
<div>
    <form action="{{url_for('success')}}" method="post">
        <fieldset>
            <legend>Logged in as {{ user_logged }}</legend>
            <center>
                success, <a href="{{url_for('logout')}}">logout</a>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <br><font size="2" color="red">{{ message }}</font>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </center>
        </fieldset>
    </form>
</div>

</body>
</html>